* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, pink, purple);
}

.display-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

#menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

#menu-list > li {
  background-color: yellow;
  width: 20%;
  margin: 20px 5px 15px;
  text-align: center;
}

#highlight-product {
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.highlight-main {
  background-image: url("../img/pexels-roman-odintsov-4958774.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 1 / 3;
  padding-left: 20px;
}

.highlight-side {
  background-color: yellow;
  grid-column: 2 / 3;
  text-align: center;
}

.price {
  font-size: larger;
  font-weight: bolder;
}

#products {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

.product {
  background-color: white;
  text-align: center;
  padding: 5px;
}

.product > p {
  text-align: center;
  font-size: small;
}

.icon {
  width: 30px;
  height: auto;
}

.product-featured {
  background-color: white;
  line-height: 1.5rem;
  grid-column: 1 / 5;
}

.featured {
  width: 25%;
  float: left;
}

#header-lines {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-lines:before {
  content: '';
  width: 35%;
  height: 5px;
  background-image: linear-gradient(to right, pink, yellow);
  margin-right: 15px;
}

#header-lines:after {
  content: '';
  width: 35%;
  height: 5px;
  background-image: linear-gradient(to right, yellow, purple);
  margin-left: 15px;
}

.display-flex-row > img {
  width: 150px;
  margin: 5px;
}